<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/index.css">
    <title>Hey, it's Rocketseat</title>
</head>
<body>
    <header>
        <a href=""><img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="Rocketseat"></a>
        <div class='links'>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck">Community</a>
            <!--<a href="mailto:M-Raquel@outlook.com.brx">E-mail</a> -->
            <a href="about.html">About</a>
            <a href="classes.html">Courses</a>
        </div>
    </header>

    <div id="wrapper">
        <h1>Hello World</h1>
        <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>
    </div>

    <div class='links' id="links-footer">
        <a href="mailto:oi@rocketseat.com.br">E-mail</a>
        <a href="tel:+5547992078767">Telephone</a>
    </div>

</body>
</html>